<h4>Post detalis:</h4> <br />
<p>
	<%= @row ['content']  %>
	<br />
	Added at <%= @row ['created_date'] %>
</p> <br />
<h4>Комментарии:</h4>

<p>
	<form action="/detalis/<%= @row ['id'] %>" method="POST">
	  	<textarea name="content" class="form-control" rows="4" placeholder="Введите здесь комментарий" style="width: 400px"></textarea><br />
	  	<button type="submit" class="btn btn-success">Опубликовать комментарий</button>
	</form>
</p>